.home-page {
  &__header {
    margin-bottom: $spacing-4;
    text-align: center;
    
    @media (min-width: $breakpoint-md) {
      margin-bottom: $spacing-5;
    }
  }
  
  &__title {
    margin-bottom: $spacing-1;
    
    @media (min-width: $breakpoint-md) {
      font-size: 2.5rem;
    }
  }
  
  &__subtitle {
    color: $gray-600;
    max-width: 600px;
    margin: 0 auto;
    
    @media (min-width: $breakpoint-md) {
      font-size: 1.125rem;
    }
  }
}